{% extends 'page.twig' %}

{% block titre %}
    À propos
{% endblock %}

{% block contenu %}
    <a href="https://dev-21304033.users.info.unicaen.fr/Master/Programmation%20Objet/TP9/html/"> Lien vers la
        documentation</a>

    <h3>Concernant l'obligatoire : </h3>
    <ul>
        <li><i class="fa fa-check-square-o" aria-hidden="true"></i>architecture avec FrontController et contrôleurs de classe</li>
        <li><i class="fa fa-check-square-o" aria-hidden="true"></i>utilisation de classes gérant la requête et la réponse</li>
        <li><i class="fa fa-check-square-o" aria-hidden="true"></i>utilisation de la délégation pour les opérations en base de données et les affichages</li>
        <li><i class="fa fa-check-square-o" aria-hidden="true"></i>Gestion d'articles : création, modification, suppression, liste</li>
        <li><i class="fa fa-check-square-o" aria-hidden="true"></i>Gestion d'images : création avec upload de fichier, modification, suppression, liste</li>
        <li><i class="fa fa-check-square-o" aria-hidden="true"></i>Nettoyage des données entrantes avec un objet Nettoyeur qui utilise une liste de nettoyeurs à mettre en oeuvre</li>
        <li><i class="fa fa-check-square-o" aria-hidden="true"></i>Validation des données du formulaire avec un objet Validateur qui prend ue liste de validateurs et gère les messages d'erreur du formulaire</li>
        <li><i class="fa fa-check-square-o" aria-hidden="true"></i>Gestion des exceptions avec un affichage en "mode développement" ou non</li>
    </ul>

    <h3>Concernant les petits plus: </h3>
    <ul>
        <li><i class="fa fa-check-square-o" aria-hidden="true"></i>Avoir un gestionnaire d'upload pour les fichiers envoyés sur le serveur.</li>
        <li><i class="fa fa-check-square-o" aria-hidden="true"></i>Utilisation de CKeditor pour avoir un éditeur Wysiwyg pour le contenu des articles.</li>
        <li><i class="fa fa-check-square-o" aria-hidden="true"></i>Intégrer un gestionnaire de templates (Twig ou autre) pour gérer les affichages.</li>
        <li><i class="fa fa-check-square-o" aria-hidden="true"></i>Avoir un design autre que noir &amp; blanc pour le site...</li>
    </ul>
{% endblock %}