<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <title>{% block titre %}{% endblock %} - Mini journal</title>
    <script src="vendor/ckeditor/ckeditor/ckeditor.js"></script>
</head>

<body>

<h1><a href="index.php">Mini Journal</a></h1>
<h2>{% block titre %}{% endblock %}</h2>
{% block contenu %}{% endblock %}
</body>
</html>